@model Domain.App.TasumiseViis

@{
    ViewData["Title"] = "Kustuta";
}

<h1>Kustuta</h1>

<h3>Oled kindel, et soovid kustutada?</h3>
<div>
    <h4>Makseviis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViisNimetus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViisNimetus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Kustuta" class="btn btn-danger" /> |
        <a asp-action="Index">Tagasi</a>
    </form>
</div>
