@model Domain.App.TasumiseViis

@{
    ViewData["Title"] = "Makseviis";
}

<h1>Makseviis</h1>

<div>
    <h4>Makseviis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViisNimetus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViisNimetus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Muuda</a> |
    <a asp-action="Index">Tagasi</a>
</div>
