@model IEnumerable<Domain.App.TasumiseViis>

@{
    ViewData["Title"] = "Makseviisid";
}

<h1>Makseviisid</h1>

<p>
    <a asp-action="Create">Lisa uus makseviis</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Makseviisid
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ViisNimetus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Muuda</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Vaata</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
